.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footerLink {
  font-weight: 700 !important;
  color: #7c83f5 !important;
  min-width: 0 !important;
  padding: 0 !important;
  font-size: inherit !important;
  text-transform: none !important;
}

.footerLink:hover {
  text-decoration: underline;
}
